.ant-form-item-label{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 20px;
    
  }
 
 
  .ant-input {
    font-size: $font-size;
    padding: 8px;
    border-radius: 2px solid $input-border-color;
    
    width: 95%;  
    margin-left: 7px;
    border-radius: 3px;
  }
  .ant-select{
    margin-left: 7px;
    max-width: 95%;
    
    border-radius: 3px;
    border-radius: 2px solid $input-border-color;
  }
  @media screen and  (min-width: 900px){
    #infocercle{
        padding: 0px 0px 0xp 500px;
            }
  }
    